@model ShopStrumentiMusicali.Models.UserTransaction

@{
    ViewData["Title"] = "Details";
}



<div class="container my-4">
<div class="row">
    <div class="col"></div>
        <div class="col-md-4 background-login">
    <h1>Details</h1>
    <h4>UserTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5   ">
            Date
            <!--@@Html.DisplayNameFor(model => model.TransactionDate)-->
        </dt>
        <dd class = "col-sm-7">
            
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-5">
        <!--@@Html.DisplayNameFor(model => model.TransactionQuantity)-->
        Quantity
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.TransactionQuantity)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Instrument.Id)
        </dd>
    </dl>
    <div class="text-end">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<div class="col"></div>

</div>
</div>