@model ShopStrumentiMusicali.Models.UserTransaction

@{
    ViewData["Title"] = "Edit";
}

<div class="container my-4">
<div class="row">
    <div class="col"></div>
    <div class="col-md-4 background-login">
        <h1>Edit</h1>

        <h4>UserTransaction</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionQuantity" class="control-label"></label>
                <input asp-for="TransactionQuantity" class="form-control" />
                <span asp-validation-for="TransactionQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentID" class="control-label"></label>
                <select asp-for="InstrumentID" class="form-control" asp-items="ViewBag.InstrumentID"></select>
                <span asp-validation-for="InstrumentID" class="text-danger"></span>
            </div>
                <div class="form-group text-end d-grid gap-2 d-md-flex justify-content-md-end my-2">
                <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
        </form>
            <div class="text-end">
                <a asp-action="Index">Back to List</a>
            </div>

    </div>
        <div class="col"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>