@using Microsoft.AspNetCore.Identity
@model IdentityRole

<div class="container-fluid align-items-center rounded p-3 mt-5">
    <div class="row">
    <div class="col"></div>
    <div class="col-md-4 background-login">
    <form asp-controller="Roles" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <h2>Nuovo Utente</h2>
            <label>Inserisci nome:</label>
            <input asp-for="Name" type="text" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
        <button type="submit" class="btn btn-primary">Salva</button>
        </div>
    </form>
    </div>
    <div class="col"></div>
    </div>
</div>