@page
@model ShopStrumentiMusicali.Views.Administration.CreateModel

<!-- Da aggiugnere layout-->
<!-- Da inserire @@model lista di strumenti-->

<div class="container">
	<form asp-controller="Instrument" asp-action="Create" method="Post">
		@Html.AntiForgeryToken()

		<div class="mb-3 form-check">
			<label>Path Immagine:</label>
			<input asp-for="Instrument.ImageURL" type="text" class="form-control" />
			<span asp-validation-for="Instrument.ImageURL" class="text-danger"></span>
		</div>

		<div class="mb-3 form-check">
			<label>Nome:</label>
			<input asp-for="Instrument.Name" type="text" class="form-control" />
			<span asp-validation-for="Instrument.Name" class="text-danger"></span>
		</div>

		<div class="mb-3 form-check">
			<label>Descrizione:</label>
			<textarea asp-for="Instrument.Description" rows="10" class="d-block w-100"></textarea>
			<span asp-validation-for="Instrument.Description" class="text-danger"></span>
		</div>

		<div class="mb-3 form-check">
			<label>Prezzo:</label>
			<input asp-for="Instrument.Price" type="text" class="form-control" />
			<span asp-validation-for="Instrument.Price" class="text-danger"></span>
		</div>

		<!--Da sistemare sicuro in base la categoria-->
		<div class="mb-3 form-check">
			<label>Prezzo:</label>
			<input asp-for="Instrument.Category" type="text" class="form-control" />
			<span asp-validation-for="Instrument.Category" class="text-danger"></span>
		</div>

		<!--Da sistemare sicuro in base allo shop transaction-->
		 <div class="mb-3 form-check">
				<label>Fornitore:</label>
			<select asp-for="Instrument.ShopTransactions" rows="10" class="d-block w-100">
					<option value=""></option>
				@foreach (ShopTransaction supply in Model.ShopTransaction)
				{
					<option value="@supply.Id">@supply.SupplierName</option>
				}
				</select>
			<span asp-validation-for="Instrument.ShopTransactions" class="text-danger"></span>
			</div>

		<!--Bottone salva-->
		<div class="d-grid justify-content-end">
			<button type="submit" class="btn btn-primary btn-danger" formmethod="post">Salva</button>
		</div>

	</form>

</div>
