<!--@@page
@@model ShopStrumentiMusicali.Views.Administration.UpdateModel -->
<!-- Da inserire @@model da inserire il controller-->
@model InstrumentCategoriesView

@{
    Layout = "_Layout";
}

<div class="container bg-white rounded p-3 mt-5">
<div class="d-flex align-items-center">
    <h1 class="text-dark">Compra strumento</h1>
</div>

<form asp-controller="Administration" asp-action="Purchase" method="post">
    @Html.AntiForgeryToken()

<div class="container-fluid">
    <div class="mb-3 form-check d-inline-block justify-content-center">
       <div class="card" style="width: 20rem;">
            <label>Quantita:</label>
            <input asp-for="Quantity" type="text" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>

            <!--Bottone per salvare acquisti-->
            <div class="my-2 d-grid justify-content-center">
                <button type="submit" class="btn btn-primary btn-danger" formmethod="post">Acquista</button>
            </div>   
    </div>

                <div class="mb-3 form-check d-flex justify-content-center rounded">
        <div id="instrument_container">
    </div>
    </div>

    </div>
</div>

    @*<div class="mb-3 form-check">
        <label>Id:</label>
        <input asp-for="Instrument.Id" type="text" class="form-control" disabled />
        <span asp-validation-for="Instrument.Id" class="text-danger"></span>
    </div>



    <div class="mb-3 form-check">
        <label>Nome:</label>
        <input asp-for="Instrument.Name" type="text" class="form-control"/>
        <span asp-validation-for="Instrument.Name" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <label>Descrizione:</label>
        <textarea asp-for="Instrument.Description" rows="10" class="d-block w-100"></textarea>
        <span asp-validation-for="Instrument.Description" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <label>Prezzo:</label>
        <input asp-for="Instrument.Price" type="text" class="form-control" />
        <span asp-validation-for="Instrument.Price" class="text-danger"></span>
    </div>

    <!--Da sistemare sicuro in base la categoria-->
    <div class="mb-3 form-check">
        <label>Categoria:</label>
        <input asp-for="Instrument.CategoryID" type="text" class="form-control" />
        <span asp-validation-for="Instrument.CategoryID" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <label>Path Immagine:</label>
        <input asp-for="Instrument.ImageURL" type="text" class="form-control" />
        <span asp-validation-for="Instrument.ImageURL" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <label>Quantita:</label>
        <input asp-for="Instrument.Quantity" type="text" class="form-control"/>
        <span asp-validation-for="Instrument.Quantity" class="text-danger"></span>
    </div>*@

</form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<script type="text/javascript">
            
    //AVVISO ANCORA IN BOZZA. DA CONTROLLARE NOMI VARIABILI.
    const id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
    axios.get("/api/InstrumentApi/" + id).then((res) => {
        let instrument = res.data;
        console.log('strumento visualizzato', instrument);


        document.getElementById('instrument_container').innerHTML +=
            `

                                     
                                            <h5 class="card-title p-2 mb-2 border-3 border-dark border-top border-bottom">Dettagli strumento</h5>
                                                     <p class="card-text p-1 border-1 border-dark border-bottom">Nome: ${instrument.name}</p>
                                                     <p class="card-text p-1 border-1 border-dark border-bottom">Descrizione: ${instrument.description}</p>
                                                     <p class="card-text p-1border-1 border-dark border-bottom">Prezzo: ${instrument.price}&euro;</p>
                                                     <p class="card-text p-1 border-1 border-dark border-bottom">Quantità: ${instrument.quantity}</p>
                                                     <p class="card-text p-1 border-1 border-dark border-bottom">Likes: ${instrument.userLikes}</p>
                                       
                                            <img src="${instrument.imageURL}" class="card-img-top" alt="strumento">
                               

                        `;

    });


</script>