<!--@@page
@@model ShopStrumentiMusicali.Views.Administration.UpdateModel -->

<!-- Da inserire @@model da inserire il controller-->
@model InstrumentCategoriesView

@{
    Layout = "_Layout";
}

<div class="container p-3">
 <div class="row">
     <div class="col"></div>
        <div class="col-md-6 rounded background-login">

            <div class="d-flex align-items-center">
                <h1 class="text-dark">Modifica strumento</h1>
            </div>


            <form asp-controller="Administration" asp-action="Update" method="post">
                @Html.AntiForgeryToken()

                <div class="mb-3 form-check">
                    <label>Id:</label>
                    <input asp-for="Instrument.Id" type="text" class="form-control" disabled />
                </div>

                <div class="mb-3 form-check">
                    <label>Path Immagine:</label>
                    <input asp-for="Instrument.ImageURL" type="text" class="form-control" />
                    <span asp-validation-for="Instrument.ImageURL" class="text-danger"></span>
                </div>

                <div class="mb-3 form-check">
                    <label>Nome:</label>
                    <input asp-for="Instrument.Name" type="text" class="form-control" />
                    <span asp-validation-for="Instrument.Name" class="text-danger"></span>
                </div>

                <div class="mb-3 form-check">
                    <label>Descrizione:</label>
                    <textarea asp-for="Instrument.Description" rows="10" class="d-block w-100"></textarea>
                    <span asp-validation-for="Instrument.Description" class="text-danger"></span>
                </div>

                <div class="mb-3 form-check">
                    <label>Prezzo:</label>
                    <input asp-for="Instrument.Price" type="text" class="form-control" />
                    <span asp-validation-for="Instrument.Price" class="text-danger"></span>
                </div>

                <div class="mb-3 form-check">
                    <label>Quantità:</label>
                    <input asp-for="Instrument.Quantity" type="text" class="form-control" />
                    <span asp-validation-for="Instrument.Quantity" class="text-danger"></span>
                </div>

                <!--Da sistemare sicuro in base la categoria-->
                <div class="mb-3 form-check">
                    <label>Categoria:</label>
                    <select asp-for="Instrument.CategoryID" rows="10" class="d-block w-100">
                        <option value=""></option>
                        @foreach (Category category in Model.Categories)
                        {
                            <option value="@category.Id">@category.CategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="Instrument.CategoryID" class="text-danger"></span>
                </div>

                <!--Bottone per salvare aggiornamenti-->
                <div class="d-grid gap-2 mb-4 d-md-flex justify-content-md-end">

                    <!--Bottone per cancellare-->
                    <!--NOTA PER IL TASTO DELETE SI CREA UN FINTO FORM-->
                    <form asp-controller="administration" asp-action="Delete" asp-route-id="instrument.Id" method="post" class="d-grid">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-sm p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                        </button>
                    </form>

                    <!--Bottone salva-->
                    <button type="submit" class="btn btn-primary" formmethod="post">Salva</button>
                </div>

            </form>

     </div>
     <div class="col"></div>
 </div>

 <div class="container" style="text-align:right;">
      <a class="text-white" aria-current="page" href="\Administration\Update\@Model.Instrument.Id">Torna su</a>
</div>

</div>

