<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>ParaMusic Instrument Store</title>
</head>
<body>
    <!--Inizio layout-->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img src="https://cdn-icons-png.flaticon.com/512/1059/1059909.png?" alt="Logo" width="5%" height="1%" class="d-inline-block">
            <p class="navbar-brand d-flex mx-0 my-0 fs-2 fw-bold">ParaMusic Instrument Store</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">ParaMusic Instrument Store</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contattaci!</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Il nostro catalogo:
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Strumenti a corda</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti a percussione</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti a fiato</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti a tastiera</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti elettronici / MIDI</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti a percussione</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Catalogo completo</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="...">
                        <button class="btn btn-success" type="submit">Ricerca:</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row header-text-color header-bg-color">
            <div class="col-sm my-2 ps-5 pt-2">
                <p class="text-start fs-5 fw-bold">Contattaci!</p>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm my-2 pe-5 pt-2">
                <p class="text-end fs-5 fw-bold">Registrati / Login</p>
            </div>
        </div>
    </div>
            @RenderBody()  
            
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ShopStrumentiMusicali - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
