@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css">
    <title>ParaMusic Instrument Store</title>
    <style>
        body {
            background-image: url('https://www.wallpapersdsc.net/wp-content/uploads/2017/10/Black-Music-HD-Background.jpg');
        }
    </style>
</head>
<body class="pb-0 mb-0">

<!--SEZIONE HEADER-->
<header>
    <!--Navbar section-->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar">
                <img class="d-inline-block" src="https://cdn-icons-png.flaticon.com/512/1059/1059909.png?" alt="Logo" width="50" height="50">
                </a>
                <a class="navbar-brand" href="#">Music Instrument Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="\Home\Index\">Home</a>
                        </li>
                        @if (!User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="\Home\Index\#shop">Chi siamo</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="\Home\Index\#catalog">Catalogo</a>
                        </li>
                        @if (!User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="\Home\Index\#contact">Contatti</a>
                            </li>
                        }

                            <!--Bottoni login Registrati-->
                            @if (SignInManager.IsSignedIn(User))
                            {
                            <li class="nav-item">
                                <div class="nav-items">
                                    <a id="manage" class="nav-link text-black" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Ciao: @UserManager.GetUserName(User)!</a>

                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link btn btn-link text-black">Logout</button>
                                    </form>
                                </div>
                             </li>
                            }
                            else
                            {
                            <li class="nav-item">
                                <a class="btn btn-success ms-5" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                <a class="btn btn-warning ms-4" id="register" asp-area="Identity" asp-page="/Account/Register">Registrati</a>
                            </li>
                            }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary btn-danger"
                               href="@Url.Action("IndexAdm", "Administration")">
                                    Admin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  btn btn-primary btn-outline-info text-white" asp-area="" asp-controller="Roles" asp-action="Index">Ruoli</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  btn btn-primary btn-outline-warning text-white" asp-area="" asp-controller="User" asp-action="Index">Utenti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  btn btn-primary btn-outline-success text-white" asp-area="" asp-controller="Administration" asp-action="Warehouse">Magazzino</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  btn btn-primary btn-outline-success text-white" asp-area="" asp-controller="UserTransactions" asp-action="Index">Transazioni</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>

  <!--SEZIONE MAIN-->   
    <div class="container">
    <main role="main" "class="pb-3 mb-0">
        @RenderBody() 
    </main>
    </div>


     <!--Layout footer-->
 @if (!User.IsInRole("Admin")) {
        <section id="contact"></section>
    <footer>
        <div class="container-fluid bg-dark footer">
                 <div class="text-center fs-6 text-white fw-light">

                <p class="text-center fs-4 text-white fw-bolder">Music Instrument Store</p>
                Via 3 Settembre, 17 - 47891 Milano (MN) <br>
                Tel. +39 0549/909670 - Fax +39 0549/909685 <br>
                E-mail: info@ParaMusic.sm <br>
                C.O.E. SM 07256 <br>
                Iscritto al Registro e-commerce al nr. 9999999 del 15/04/2014 <br>
                <a class="nav-link" aria-current="page" href="\Home\Index\">Torna su</a>
            </div>
            
        </div>
    </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--AXIOS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
