@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css">
    <title>ParaMusic Instrument Store</title>
    <style>
        body {
            background-image: url('https://images.cdn4.stockunlimited.net/preview1300/musical-instrument-background_1403394.jpg');
        }
    </style>
</head>
<body class="pb-0 mb-0">



    <!--Inizio Navbar-->
    <nav class="navbar navbar-dark bg-dark static-top">
        <div class="container-fluid">
            <!--Logo Navbar-->
            <a asp-area="" asp-controller="Home" asp-action="Index" alt="Logo" width="6%" height="2%">
            <img class="d-inline-block" src="https://cdn-icons-png.flaticon.com/512/1059/1059909.png?" asp-area="" asp-controller="Home" asp-action="Index" alt="Logo" width="20%" height="10%">
            </a>
            <!--Titolo centrale-->
            <p class="navbar-brand d-flex justify-content-center ps-0 pe-4 me-4 fs-2 fw-bold">ParaMusic Instrument Store</p>
            <div class="">
                <!--Bottoni login Registrati-->
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="nav-items">
                        <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Ciao: @UserManager.GetUserName(User)!</a>


                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-white">Logout</button>
                        </form>
                    </div>
                }
                else
                {



                    <a class="btn btn-success ms-5" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    <a class="btn btn-warning ms-4" id="register" asp-area="Identity" asp-page="/Account/Register">Registrati</a>
                }
                <button class="navbar-toggler ms-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                        aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                 aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <!--Sezione menu off-canvas (laterale)-->
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">ParaMusic Instrument Store</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        @if (User.IsInRole("Admin"))
                            {
                                <a class="nav-link btn btn-primary btn-danger"
                               href="@Url.Action("IndexAdm", "Administration")">
                                    Amministrazione
                                </a>
                            
                                <a class="nav-link  btn btn-primary btn-outline-info text-white" asp-area="" asp-controller="Roles" asp-action="Index">Ruoli</a>
                            
                                <a class="nav-link  btn btn-primary btn-outline-warning text-white" asp-area="" asp-controller="User" asp-action="Index">Utenti</a>

                                <a class="nav-link  btn btn-primary btn-outline-success text-white" asp-area="" asp-controller="Administration" asp-action="Warehouse">Magazino</a>
                    
                            }
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="\Home\Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="\Home\Index\#shop">Il nostro negozio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="\Home\Index\#contact">Contattaci!</a>
                        </li>

                        <!--opzioni dropdown menu-->
                         <!-- COMMENTATA PERCHE' NON ANCORA IMPLEMENTATA
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Il nostro catalogo:
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Strumenti a corda</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti a percussione</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti a fiato</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti a tastiera</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti elettronici / MIDI</a></li>
                                <li><a class="dropdown-item" href="#">Strumenti a percussione</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Catalogo completo</a></li>
                            </ul>
                        </li>
                    </ul> -->

                    <!--Search-bar-->
                  <!-- COMMENTATA PERCHE' NON ANCORA IMPLEMENTATA
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Cerca..." aria-label="Search">
                        <button class="btn btn-success" type="submit">Ricerca avanzata:</button>
                    </form> -->
                </div>
            </div>
        </div>
    </nav>

            @RenderBody() 
    <!--Layout footer-->      
    <section id="contact"></section> 
    <footer class="background-footer">
        <div>
            <p class="text-center fs-4 text-white fw-bolder">ParaMusic Instrument Store</p>
        </div>

        <div class="text-center fs-6 text-white fw-light">


            Via 3 Settembre, 17 - 47891 Milano (MN) <br>
            Tel. +39 0549/909670 - Fax +39 0549/909685 <br>
            E-mail: info@ParaMusic.sm <br>
            C.O.E. SM 07256 <br>
            Iscritto al Registro e-commerce al nr. 9999999 del 15/04/2014 <br>

        </div>
    </footer>
            
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--AXIOS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
