<!--@@page
@@model ShopStrumentiMusicali.Views.Home.DetailsModel-->
<!-- Da inserire ancora il layout-->

@using ShopStrumentiMusicali.Models;
@model Instrument

<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="instrument_container">
            </div>
        </div>
    </div>
</div>

<!--Collegamento a file all'API (file js) che restituisce i dettagli-->
<script type="text/javascript" src="~/js/details.js"></script>