<!--@@page
@@model ShopStrumentiMusicali.Views.Home.DetailsModel-->

@using ShopStrumentiMusicali.Models;
@model Instrument

@{
    Layout = "_Layout";
}


<div class="container-fluid">
    <div class="row justify-content-center d-flex rounded">
        <div class="col-md-6">
            <br> <br> <br> <br> <br>
        </div>
    </div>
    <div class="row justify-content-center d-flex">
        <div class="col-md-6 bg-white rounded">
            <div id="instrument_container">
            </div>
        </div>
    </div>
</div>
<!--AXIOS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<!--Collegamento a file all'API (file js) che restituisce i dettagli-->
<script type="text/javascript">
    

//AVVISO ANCORA IN BOZZA. DA CONTROLLARE NOMI VARIABILI.
const id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
axios.get("/api/InstrumentApi/"+ id).then((res) => {
                let instrument = res.data;
                console.log('strumento visualizzato', instrument);
                

                document.getElementById('instrument_container').innerHTML +=
                    `
                        
                              <div class="card-body h-100">
                                                <img src="${instrument.imageURL}" class="card-img-top" alt="strumento">
                                    <div class="card-body">
                                        <h5 class="card-title p-2 mb-2 border-3 border-dark border-top border-bottom">Dettagli strumento</h5>
                                                 <p class="card-text p-1 border-1 border-dark border-bottom">Nome: ${instrument.name}</p>
                                                 <p class="card-text p-1 border-1 border-dark border-bottom">Descrizione: ${instrument.description}</p>
                                                 <p class="card-text p-1border-1 border-dark border-bottom">Prezzo: ${instrument.price}&euro;</p>
                                                 <p class="card-text p-1 border-1 border-dark border-bottom">Quantità: ${instrument.quantity}</p>
                                                 <p class="card-text p-1 border-1 border-dark border-bottom">Likes: ${instrument.userLikes}</p>
                                    </div>
                            </div>
                        
                    `;
      
            });


   
</script>
<!--  < div class="col-12 col-md-4 p-2" > -->