<!-- @@{
    ViewData["Title"] = "Home Page";
} -->
@{
    Layout = "_Layout";
}


<!--Carousel index-->
@if (!User.Identity.IsAuthenticated || !User.IsInRole("Admin"))
{
    <div class="container-fluid carousel-background">
        <div class="row">
            <div class="col"></div>
            <div id="carouselExampleAutoplaying" class="carousel slide col my-3" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2500">
                        <img src="https://www.informusic.it/wp-content/uploads/2020/10/miglior-violino.jpg" class="d-block w-100"
                         alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2500">
                        <img src="https://www.raiscuola.rai.it/dl/img/2021/03/24/1616586033732_1584444217498_fotoMusica2020.jpg"
                         class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2500">
                        <img src="https://spettacolo.com/media/catalog/category/arredamento-music-store-pannelli-dogato-bianco-SPETTACOLO-Shop-For-Store-min.jpg"
                         class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="col"></div>
        </div>
    </div>
}
<div class="container">
    <div id="js_no_piuvenduti" class="row text-center d-none">
        <div class="col-12">
            <h3>Non è presente nessuno strumento. In fase di aggiornamento.</h3>
        </div>
    </div>
    <div class="row align-items-center bg-black">
        <div class="col"></div>
		<div class="col-md-8 d-flex justify-content-center bg-warning">
            <img src="https://is4.revolveassets.com/images/up/2020/January/012920_m_bestsellers_banner.gif" style="mix-blend-mode:multiply;">
            <!--<h1 class="text-opacity-75 text-black text-center">I più venduti:</h1>-->
        </div>
        <div class="col"></div>
    </div>
    
    <div id="js_piuvenduti_table" class="row d-none">
        <!--qui verranno mostrati gli elementi -->
        <!--Richiamo a file JS-->
    </div>
</div>

 
<section id="shop"></section>
<div class="container-fluid mt-2 mb-5">
    <div class="row mx-5">
        <div class="card col-12 border-arrotondato vetrina-background p-0">
            <div class="container-fluid text-end card-body p-0">
                <div class="row">
                    <div class="col-6">
                        <p class="fs-2 fw-bolder mt-3">Il nostro Store:</p>
                        <p class="fs-4 mt-3">
                            Il nostro store nasce nel lontano 1988, fondato da Emanuele Paratore, grande musicista e intenditore di
                            strumenti e composizione. Dopo un periodo di stanziamento a Busto Arsizio, il ParaMusic Store si è
                            spostato a Milano,
                            dove ha trovato un'accoglienza a dir poco calorosa! Da 30 anni, gran parte dei musicisti Lombardi
                            scelgono ogni giorno il nostro store
                            come punto di riferimento per attrezzature, strumenti, riparazioni e pareri tecnici!
                        </p>
                    </div>

                    <div class="col-6">
                        <img class="border-destro img-fluid"
                             src="https://production-cdn.momento360.com/e/u/8fa1e6e782c04ab7bc480084598a99d9/sphere/preview"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<div class="container-fluid my-5">
    <div class="row mx-5">
        <div class="card col-12 border-arrotondato vetrina-background p-0">
            <div class="container-fluid card-body text-start p-0">
                <div class="row">
                    <div class="col-6">
                            <img class="border-sinistro img-fluid" src="https://americanbach.org/assets/images/horn-1600x800-800x400.jpg" alt="">
                    </div>               
                    <div class="col-6">
                        <p class="fs-2 fw-bolder mt-3">I nostri strumenti:</p>
                        <p class="fs-4 mt-3">
                            Gli strumenti di ParaMusic sono tutti certificati secondo le normative EU. Ogni strumento viene infatti realizzato a mano
                            con la cura dei minimi dettagli, per poter garantire il massimo della qualità del vostro sound! Ogni strumento è testato dal nostro personale
                            tramite strumentazioni avanzatissime, per garantire un ulteriore controllo di qualità al nostro cliente!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="container-fluid my-5">
    <div class="row mx-5">
        <div class="card col-12 border-arrotondato vetrina-background p-0">
            <div class="container-fluid text-end card-body p-0">
                <div class="row">
                    <div class="col-6">
                        <p class="fs-2 fw-bolder mt-3">Il nostro usato Garantito:</p>
                        <p class="fs-4 mt-3">
                            L' usato di ParaMusic non ha eguali! Prima ancora di accettare materiale usato, infatti, il nostro personale si impegna per testare
                            ogni singolo strumento, suonando e sottoponendolo ad un accurato esame strumentale, visivo e sonoro! Acquistare uno strumento usato è il modo migliore per
                            risparmiare e avere fra le mani un piccolo pezzo di storia!
                        </p>
                    </div>

                    <div class="col-6">
                        <img class="border-destro img-fluid" src="https://cdn-resources.ableton.com/resources/filer_thumbnails/e5/49/e5498328-51aa-4344-ac84-9ac24ba8fd24/motors-magnets-motion_800x400_06.jpg__800x400_q85_crop_subsampling-2_upscale.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!--Verranno visualizzate le card attraverso l'API-->
    <div class="container">
        <!--Richiamo a file JS-->
        <div id="js_no_instrument" class="row text-center d-none">
            <div class="col-12">
                <h3>Non è presente nessuno strumento. In fase di aggiornamento.</h3>
            </div>
        </div>
        <div id="js_instrument_table" class="row d-none">

            <!--qui verranno mostrati gli elementi -->
            <!--Richiamo a file JS-->
        </div>
    </div>

}

   

@if (User.IsInRole("Admin"))
{
    <!--Verranno visualizzate le card attraverso l'API quando si è admin-->
<div class="container">
    <!--Richiamo a file JS-->

    <div id="js_no_instrument" class="row text-center d-none">
        <div class="col-12">
            <h3>Non è presente nessuno strumento. In fase di aggiornamento.</h3>
        </div>
    </div>
    <div id="js_instrument_table" class="row d-none">
         
        <!--qui verranno mostrati gli elementi -->
        <!--Richiamo a file JS-->
    </div>
</div>
}




<!--AXIOS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

<script type="text/javascript">



    loadInstruments();

    function likeClicked(id, userLikes) {
        var requestBody = {
            "userLikes": userLikes
        }
        axios.patch(`/api/instrumentApi/${id}`, requestBody);

    }

    function loadInstruments() {
        axios.get('/api/instrumentApi/').then((res) => {



            console.log('strumento visualizzato', res);


            if (res.data.instruments.length == 0) {

                document.getElementById('js_no_instrument').classList.remove('d-none');
                document.getElementById('js_instrument_table').classList.add('d-none');

            } else {

                document.getElementById('js_instrument_table').classList.remove('d-none');
                document.getElementById('js_no_instrument').classList.add('d-none');





                document.getElementById('js_instrument_table').innerHTML = '';

                res.data.instruments.forEach(instrument => {

                    console.log('strumento', instrument);

                    document.getElementById('js_instrument_table').innerHTML +=
                        `       <div class="col-sm-4 d-flex align-items-stretch p-0  mx-0 my-3">
                                                    <div class="card p-0 m-0" style="width: 22rem; min-height: 30rem;">

                                                    <div class="card-image">
                                                              <img src="${instrument.imageURL}" class="card-img-top" alt="strumento">
                                                        </div>
                                                    <div class="card-body">

                                                    <h5 class="card-title">Nome: ${instrument.name}</h5>
                                                            <p class="card-text">Descrizione: ${instrument.description}</p>

                                                            <p class="card-text">Prezzo: ${instrument.price}&euro;</p>
                                                     </div>
                                                     <div class="card-footer col border-0 text-center justify-content-center bg-white">

                                                             <a href="/Home/Details/${instrument.id}"class="btn btn-primary">Dettagli</a>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Cliente"))
        {
                                                                                    <a href="/Administration/Purchase/${instrument.id}" class="btn btn-primary">Compra</a>
        }
        @if (User.IsInRole("Admin"))
        {
                                                                                     <a href="/Administration/Resupply/${instrument.id}" class="btn btn-primary">Rifornisci</a>
        }
    }
    else
    {
                                                                     <a href="Identity/Account/Login" class="btn btn-primary">Compra</a>
    }
                                                                 <br/>
                                                                      <br/>
                                                                         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                                                              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                                                                  <button class="toggle-button${instrument.id}"   type="button">

                                                                                         <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

                                                                      </button>
                                                                  <span id="like-count${instrument.id}"></span>

                                                    </div>
                                            
                                    </div>
                              </div>
                            `;





                });



            }

    @************************************************************************************@

                if (res.data.piuvenduti.length == 0) {

                document.getElementById('js_no_piuvenduti').classList.remove('d-none');
                document.getElementById('js_piuvenduti_table').classList.add('d-none');

            } else {

                document.getElementById('js_piuvenduti_table').classList.remove('d-none');
                document.getElementById('js_no_piuvenduti').classList.add('d-none');





                document.getElementById('js_piuvenduti_table').innerHTML = '';

                res.data.piuvenduti.forEach(instrument => {

                    console.log('piuvenduto', instrument);

                    document.getElementById('js_piuvenduti_table').innerHTML +=
                        `       <div class="col-sm-4 d-flex align-items-stretch my-3">
                                                  <div class="card p-0 m-0"  style="width: 18rem;">

                                                        <div class="card-image">
                                                                  <img src="${instrument.imageURL}" class="card-img-top" alt="strumento">
                                                            </div>
                                                            <div class="card-body p-0 m-0">

                                                            <h5 class="card-title">Nome: ${instrument.name}</h5>
                                                                <p class="card-text">Descrizione: ${instrument.description}</p>

                                                                    <p class="card-text">Prezzo: ${instrument.price}&euro;</p>
                                                        </div>
                                                                       <div class="card-footer col   border-0 text-center justify-content-center bg-white">
                                                                         <a href="/Home/Details/${instrument.id}"class="btn btn-primary">Dettagli</a>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Cliente"))
        {
                                                                                      <a href="/Administration/Purchase/${instrument.id}" class="btn btn-primary">Compra</a>
        }
        @if (User.IsInRole("Admin"))
        {
                                                                                      <a href="/Administration/Resupply/${instrument.id}" class="btn btn-primary">Rifornisci</a>
        }
    }
    else
    {
                                                                             <a href="Identity/Account/Login" class="btn btn-primary">Compra</a>
    }
                                                                     <br/>
                                                                          <br/>
                                                                             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                                                                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                                                        </div>


                                                
                                       </div>
                                </div>
                            `;





                });



            }















            res.data.instruments.forEach(instrument => {
                document.querySelector(`.toggle-button${instrument.id}`).addEventListener("click", function () {
                    console.log("Dentro: " + instrument.userLikes);
                    document.querySelector(`.toggle-button${instrument.id}`).classList.toggle("liked");
                    if (!document.querySelector(`.toggle-button${instrument.id}`).classList.contains("liked")) {
                        instrument.userLikes--;
                        likeClicked(instrument.id, instrument.userLikes);
                    }
                    else {
                        instrument.userLikes++;
                        likeClicked(instrument.id, instrument.userLikes);
                    }
                    document.querySelector(`.toggle-button${instrument.id}`).innerHTML = instrument.userLikes + " Like";
                });

            });

        });
    }

    function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
    }




</script>