<!-- @@{
    ViewData["Title"] = "Home Page";
} -->

@{
    Layout = "_Layout";
}

<!--Verranno visualizzate le card attraverso l'API-->
<div class="container-fluid">
    loadInstrument();
</div>

<!--Richiamo a file JS-->
<script type="text/javascript" src="~/js/homeapi.js"></script>