html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.border {
    border-radius: 0;
}

.carousel {
    width: 40%;
    height: 25%;
}

.carousel-background {
    background-color: rgb(223, 223, 223);
}

#myCarousel {
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-control-prev {
    margin-left: -25px;
}

.carousel-control-next {
    margin-right: -25px;
}

.card {
    padding: 1.5em .5em .5em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}