
.border-arrotondato {
    border-radius: 15px;
}

.border-destro {
    border-radius: 0px 15px 15px 0px;
}

.border-sinistro {
    border-radius: 15px 0px 0px 15px;
}

.carousel {
    width: 60;
    height: 45%;
}


#myCarousel {
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-control-prev {
    margin-left: -25px;
}

.carousel-control-next {
    margin-right: -25px;
}

.card {
    padding: 1.5em .5em .5em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.textColor {
    color: darkred;
}

.vetrina-background {
    background-color: rgb(224, 224, 224);
}

.background-footer {
    background-color: rgb(22, 22, 22);
}

.background-login {
    background-color: rgb(192, 192, 192);
}

.img-detail {
    height: 50px;
    width: 50px;
}
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

    .fa:hover {
        color: darkblue;
    }

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

    .fa:hover {
        color: darkblue;
    }  